<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
<!-- 
    {% if site.google_analytics %} -->
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <!-- Global site tag (gtag.js) - Google Analytics -->
      <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-CS0YZ14EFV"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CS0YZ14EFV');
      </script> -->
    <!-- {% endif %} -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="dark">

     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '../assets/css/style.scss?v=' | append: site.github.build_revision | relative_url }}">

  </head>
  <body id="content-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <button id="myModal" type="button" class="btn btn-primary">Primary</button> 
        </div>
    </div>
    
  </body>
</html>
<script >
  HTMLInputElementObject.addEventListener('input', function (evt) {
    something(this.value);
});
  var myModal = document.getElementById('myInput').addEventListener(function(event){
    console.log(event)
  })
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
     myInput.focus()
  })
</script>